[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = git@github.com:alacritty/alacritty-theme
	branch = master
[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:BB223/nvim.git
